<div class="admin">

<div>admin area</div>

<div class="gallery">

  <div class="container">      
    <a id="top"></a>
    <nav>
      <a id="home-link" href="/home"><img src="assets/svg/home.svg" alt=""></a>    
    </nav>    

    <h1>reported squiggle solutions</h1>
    <div id="gallery-container">
     <h2 id="loader">end</h1>
    </div>

    <a id="to-top" href="#top">TOP</a>

    <h1>reported squiggles</h1>

    <div id="squiggle-container">
     <h2 id="loader2">end</h1>
    </div>

    <h1>all squiggles</h1>
    <button onclick="loadAllSquiggles()">load</button>
     <div id="allsquiggle-container">
     <h2 id="loader2">end</h1>
    </div>

  </div>

</div>



</div>


<script type="text/javascript" src="javascripts/admin.js"></script>
