<div class="gallery">
  <div class="container">
    <a id="top"></a>
    <nav>
      {{#if gameId}}
      <a href="/game/{{ gameId }}" class="button button-text"><img src="/images/svg/back.svg" alt=""></a> {{else}}
      <p></p>
      {{/if}}

      <a id="home-link" class="button button-svg" href="/home"
        ><img src="/images/svg/home.svg" alt=""
      /></a>
    </nav>

  
    <h1><img src="/images/svg/galleryhome.svg" alt="" /></h1>
      {{#if gameName}}
    <h2 id="gameName">{{ gameName }}</h2>
    {{/if}}

    <div id="gallery-container">
      <h3 class="touch-only">Click on the squiggles!</h3>
      <h1 id="loader">SQUIGLOADING</h1>
    </div>

    <a id="to-top" href="#top">TOP</a>
  </div>
</div>

<script type="text/javascript" src="/gallery.bundle.js"></script>
