<h1>Gallery</h1>
<a href="/">HOME</a>


<div id="gallery-container">
  <h3>Click on the squiggles!</h3>
  <h1 id="loader">SQUIGLOADING</h1>
</div>
<script type="text/javascript" src="javascripts/gallery.js"></script>
