<div class="gallery">


  <div class="container">
     

    
    <nav>
      <a id="home-link" href="/home"><img src="assets/svg/home.svg" alt=""></a>    
    </nav>    

    <h1>Gallery</h1>
    <div id="gallery-container">
      <h3>Click on the squiggles!</h3>
      <h1 id="loader">SQUIGLOADING</h1>
    </div>

  </div>

</div>


<script type="text/javascript" src="javascripts/gallery.js"></script>
