
<div class="container">
  {{#if newsquiggle}}
  <h2>Now draw a new squiggle for someone else!</h2>

  {{else}}
  <h2>Complete the squiggle. </h2>

  {{/if}}
  <div class="canvas-container">
    <canvas id="canvas"></canvas>

  </div>
  <canvas id="zoom" width="150" height="150" style="position:absolute; top:0; left:0; display:none"></canvas>
  <canvas id="scale" width="300" height="300" style="position:absolute; top:0; left:0; display:none"></canvas>


  <div class="button-container">
    {{#if newsquiggle}}
      <button type="button" id="restart">RESTART</button>
      <form id="submit-form" action="/newsquiggle/submit" method="post">
        <input type='hidden' id= 'hiddenField' name='data' value='test' />

        <button type="submit" id="submit" name="button">SUBMIT</button>
      </form>
      {{else}}

      <!-- <button id="undo" type="button" name="undo">UNDO</button> -->
      <button type="button" id="restart">RESTART</button>
      <!-- <button type="button" id="zoomtoggle">TOGGLE ZOOM</button> -->
      <form id="submit-form" action="/play/submit" method="post">
        <input type='hidden' id= 'hiddenField' name='data' value='hello' />
        <input type='hidden' id= 'hiddenField2' name='png' value='test' />
        <button type="submit" id="submit" name="button">SUBMIT</button>

        <a id="link-button" href="/"><button  type="button"  name="button">HOME</button></a>

      </form>
      <p>Zoom in to add beautiful, pixelated details</p>

    {{/if}}
  </div>
</div>




    {{#if newsquiggle}}
    <script type="text/javascript" src="javascripts/newsquiggle.js"></script>
    {{else}}
    <script type="text/javascript" src="javascripts/play.js"></script>

    {{/if}}
