<div class="home">

  <div class="container">

    <h1>The squiggle game</h1>

    <div class="button-container">
      <a class="button" href="/play">Play</a>
      <a class = "button" href="/gallery">Gallery</a>

    </div>

  </div>

</div>

