<div class="home">

  <div class="container">
  {{!-- <header class="title">
    <h1><span>The</span> <span>Squiggle</span> <span>Game</span></h1>
  </header> --}}

{{#if animate}}
<svg class="squig animate" width="676" height="257" viewBox="0 0 676 257" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="676" height="257" fill="none"/>
<path d="M212.705 89.2306C209.678 106.257 205.205 115.62 209.429 133.01C209.429 140.971 220.463 150.62 231.205 150.62C248.322 150.62 258.275 144.015 260.472 123.685C262.007 109.488 260.152 100.32 251.834 89.2306" stroke="red" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M285.8 81.9084C290.831 99.6663 293.218 119.499 300.818 136.387C303.569 142.5 306.22 149.803 312.303 150.817" stroke="blue" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M365.309 78.3748C347.955 78.3748 335.184 81.7568 327.223 99.1847C321.335 112.076 326.535 119.013 339.69 119.013C349.759 119.013 354.663 117.582 361.383 109.786C363.484 107.35 363.058 95.215 365.506 100.461C375.638 122.173 382.367 150.004 385.531 173.59C387.711 189.843 392.333 211.54 385.531 227.186C379.254 241.622 360.192 238.042 347.444 237.002C330.718 235.636 307.979 228.932 303.469 210.891" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M446.586 87.2091C433.904 84.467 410.147 79.1409 404.181 96.0435C401.476 103.706 401.041 115.126 411.641 115.479C424.236 115.899 436.243 114.808 444.427 103.896C447.076 100.364 442.681 86.6395 441.678 90.9392C439.642 99.6635 446.251 112.698 449.138 120.584C453.88 133.532 458.238 146.537 462.488 159.651C467.722 175.802 472.446 196.371 461.703 211.284C445.771 233.399 408.922 230.034 405.948 200.29" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M473.089 13C473.572 43.8624 481.694 73.6729 483.494 104.289C484.184 116.018 485.806 125.534 488.991 136.682" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M524.329 110.179C532.283 111.402 561.225 117.967 563.102 105.761C565.959 87.192 547.647 88.976 534.93 88.976C513.746 88.976 513.074 114.076 523.544 127.455C531.732 137.917 539.91 141.793 553.385 141.983C569.395 142.208 577.93 136.172 589.704 126.081" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M608.354 143.749C606.293 134.325 605.606 124.327 605.606 114.694C605.606 110.882 604.176 103.805 605.998 100.363C607.457 97.6073 621.521 99.6584 623.667 99.9699C636.224 101.793 647.949 109.296 657.201 97.7306" stroke="green" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M167.418 88.9761C153.418 78.0493 112.05 72.6459 134.829 101.933C139.825 108.357 147.143 111.946 155.05 111.946C162.734 111.946 160.351 106.09 160.351 99.5774C160.351 76.6406 159.63 145.466 160.449 168.388C161.048 185.169 165.651 201.973 165.651 218.646C165.651 221.855 165.253 225.374 165.651 228.56C165.901 230.553 175.623 217.137 176.253 216.192C185.139 202.862 194.721 189.744 208.057 180.854" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M108.201 76.7306C101.16 53.6383 87.696 48.7306 72.2012 48.7306C62.8297 48.7306 51.1271 60.6438 50.8039 71.3072C50.307 87.7061 50.5634 97.1963 61.4052 109.393C69.9207 118.973 86.5179 123.613 93.111 135.7C98.6099 145.782 107.732 162.84 101.16 174.67C94.3673 186.897 82.3604 194.989 67.6875 194.989C41.5273 194.989 19 172.294 19 145.516" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

{{else}}
<svg class="squig" width="676" height="257" viewBox="0 0 676 257" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="676" height="257" fill="none"/>
<path d="M212.705 89.2306C209.678 106.257 205.205 115.62 209.429 133.01C209.429 140.971 220.463 150.62 231.205 150.62C248.322 150.62 258.275 144.015 260.472 123.685C262.007 109.488 260.152 100.32 251.834 89.2306" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M285.8 81.9084C290.831 99.6663 293.218 119.499 300.818 136.387C303.569 142.5 306.22 149.803 312.303 150.817" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M365.309 78.3748C347.955 78.3748 335.184 81.7568 327.223 99.1847C321.335 112.076 326.535 119.013 339.69 119.013C349.759 119.013 354.663 117.582 361.383 109.786C363.484 107.35 363.058 95.215 365.506 100.461C375.638 122.173 382.367 150.004 385.531 173.59C387.711 189.843 392.333 211.54 385.531 227.186C379.254 241.622 360.192 238.042 347.444 237.002C330.718 235.636 307.979 228.932 303.469 210.891" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M446.586 87.2091C433.904 84.467 410.147 79.1409 404.181 96.0435C401.476 103.706 401.041 115.126 411.641 115.479C424.236 115.899 436.243 114.808 444.427 103.896C447.076 100.364 442.681 86.6395 441.678 90.9392C439.642 99.6635 446.251 112.698 449.138 120.584C453.88 133.532 458.238 146.537 462.488 159.651C467.722 175.802 472.446 196.371 461.703 211.284C445.771 233.399 408.922 230.034 405.948 200.29" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M473.089 13C473.572 43.8624 481.694 73.6729 483.494 104.289C484.184 116.018 485.806 125.534 488.991 136.682" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M524.329 110.179C532.283 111.402 561.225 117.967 563.102 105.761C565.959 87.192 547.647 88.976 534.93 88.976C513.746 88.976 513.074 114.076 523.544 127.455C531.732 137.917 539.91 141.793 553.385 141.983C569.395 142.208 577.93 136.172 589.704 126.081" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M608.354 143.749C606.293 134.325 605.606 124.327 605.606 114.694C605.606 110.882 604.176 103.805 605.998 100.363C607.457 97.6073 621.521 99.6584 623.667 99.9699C636.224 101.793 647.949 109.296 657.201 97.7306" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M167.418 88.9761C153.418 78.0493 112.05 72.6459 134.829 101.933C139.825 108.357 147.143 111.946 155.05 111.946C162.734 111.946 160.351 106.09 160.351 99.5774C160.351 76.6406 159.63 145.466 160.449 168.388C161.048 185.169 165.651 201.973 165.651 218.646C165.651 221.855 165.253 225.374 165.651 228.56C165.901 230.553 175.623 217.137 176.253 216.192C185.139 202.862 194.721 189.744 208.057 180.854" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M108.201 76.7306C101.16 53.6383 87.696 48.7306 72.2012 48.7306C62.8297 48.7306 51.1271 60.6438 50.8039 71.3072C50.307 87.7061 50.5634 97.1963 61.4052 109.393C69.9207 118.973 86.5179 123.613 93.111 135.7C98.6099 145.782 107.732 162.84 101.16 174.67C94.3673 186.897 82.3604 194.989 67.6875 194.989C41.5273 194.989 19 172.294 19 145.516" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
{{/if}}

  <div class="button-container">
    <a id="playbutton" class="button" href="/play"> Play
    {{!-- <svg width="400" height="200" viewBox="0 0 400 200" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<rect width="400" height="200" fill="none"/>
<path d="M99.6867 78.9155C95.6339 124.915 95.6938 127.915 92.6938 164.915" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M159.424 28.0001C161.424 46.5001 161.288 40.5 161.288 58.5C162.148 75.9902 157.424 102.5 168.424 117" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M232.236 84.1161C222.34 72.3771 199.439 73.1245 194.096 87.9795C192.68 91.9165 192.993 96.2725 193.12 100.392C193.21 103.302 195.247 109.487 198.309 110.749C199.894 111.402 200.044 113.202 201.547 113.708C203.524 114.375 205.165 115.728 207.046 116.503C209.928 117.69 214.719 116.439 217.512 115.969C226.007 114.537 232.236 104.205 232.236 96.8571C232.236 93.8431 232.236 90.8291 232.236 87.8151C232.236 87.3588 232.25 84.4449 231.438 84.4449C230.758 84.4449 231.438 85.7053 231.438 86.3355C231.438 87.4452 231.438 88.5549 231.438 89.6646C231.438 95.9204 229.451 105.997 232.414 111.489C235.335 116.904 244.397 115.13 249 113.708" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M99.6938 77.9154C101.181 77.9154 105.694 76 117.631 76C129.568 76 134.017 82.3641 135.6 89.8925C136.148 92.5002 136.683 95.1485 136.683 97.8266C136.683 98.9578 136.708 100.092 136.683 101.223C136.65 102.727 135.541 104.106 134.962 105.467C134.004 107.723 132.465 109.664 130.884 111.565C129.667 113.029 128.135 113.536 126.663 114.606C125.248 115.634 121.751 115.621 120.068 115.717C117.009 115.891 113.495 116.079 110.462 115.671C106.179 115.094 102.035 112.189 99.6938 108.786" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M269.065 81C269.065 86.178 269.065 91.356 269.065 96.534C269.065 99.6875 268.685 102.95 269.767 105.904C270.363 107.53 271.047 108.995 272.224 110.412C273.668 112.151 275.652 113.554 277.051 115.238C278.94 117.513 287.69 117.43 289.995 115.872C290.983 115.205 292.545 114.96 293.725 114.463C294.869 113.982 295.601 113.301 296.621 112.702C298.448 111.63 300.027 109.747 300.746 108.017C301.072 107.23 301.161 106.602 301.645 105.869C302.258 104.939 301.941 104.046 302.325 103.121C302.637 102.369 303.284 101.589 303.4 100.796C303.522 99.9686 303.283 99.1147 303.51 98.2953C304.389 95.1194 303.817 91.4724 303.817 88.221C303.817 86.9529 303.817 85.6849 303.817 84.4168C303.817 83.1843 303.027 82.1533 303.027 81" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M303.1 81C303.1 86.6106 303.488 92.1621 303.488 97.7629C303.488 101.461 303.488 105.159 303.488 108.857C303.488 113.644 304.486 118.156 305.039 122.872C305.398 125.934 305.815 129.15 305.815 132.216C305.815 135.596 306.427 139.439 305.427 142.732C303.94 147.629 301.054 152.099 297.866 156.416C295.103 160.157 289.016 161 284.08 161C278.817 161 274.308 160.928 269.927 158.235C267.023 156.45 264.066 153.122 263.573 150.116C263.043 146.889 262 143.818 262 140.528" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M161.536 6.81888C168.018 5.32301 174.451 5.46365 181.051 5.46365C184.882 5.46365 189.201 4 193.032 4C203.971 4 214.745 7.46777 225.611 7.93017C232.998 8.24451 240.37 9.33317 247.729 9.80039C256.226 10.3399 264.905 9.8546 273.424 9.8546H323.134C328.275 9.8546 333.449 9.68916 338.583 9.96302C342.895 10.1929 346.963 11.2683 351.214 11.6977C357.621 12.3449 364.129 11.3378 370.54 12.0501C379.234 13.016 388.216 15.5119 391.573 24.464C393.142 28.6467 392.305 33.9676 392.305 38.3687V54.2791C392.305 60.7694 392.558 67.3039 391.925 73.7673C391.321 79.9443 390.841 85.8335 390.841 92.0629V136.108C390.841 143.253 390.611 150.088 389.865 157.168C389.372 161.859 388.744 167.273 385.962 171.236C380.597 178.877 377.499 189.682 368.642 194.274C365.43 195.94 361.136 196.714 357.557 196.714C350.976 196.714 344.453 197.202 337.879 197.202C328.15 197.202 317.969 192.181 308.253 192.458C298.693 192.732 289.259 193.407 279.658 193.407H238.513C225.376 193.407 212.707 197.093 199.482 196.226C180.772 194.999 162.11 195.319 143.376 194.491C134.857 194.115 126.239 194.91 117.735 194.274C110.231 193.713 102.583 192.651 95.0755 192.458C77.2477 192.001 60.5307 194.054 42.7906 192.323C36.2532 191.685 30.4994 188.42 23.8445 188.42C18.1659 188.42 8.34066 187.89 8.34066 180.614V143.562C8.34066 140.086 8.41619 136.601 8.34066 133.126C8.29702 131.119 7.30774 129.217 6.49754 127.434C5.80459 125.91 5.75176 124.169 5.19652 122.583C3.70427 118.319 3.37444 113.316 2.26922 108.895C0.72855 102.732 1.02241 96.7779 1.02241 90.4096C1.02241 81.4223 2.25522 72.3877 3.73287 63.5218C5.06375 55.5365 6.15121 47.3601 7.85277 39.4529C9.52657 31.6746 8.06828 23.659 12.84 16.685C16.4334 11.4331 21.4717 9.8546 27.3681 9.8546H54.9064H117.735C132.447 9.8546 147.119 10.1459 161.536 6.81888Z" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="400" height="200" fill="none"/>
</clipPath>
</defs>
</svg> --}}
</a>
    <a id="gallerybutton" class = "button" href="/gallery">Gallery</a>

  </div>

  </div>

</div>

