<div class="home">

  <div class="container">
  {{!-- <header class="title">
    <h1><span>The</span> <span>Squiggle</span> <span>Game</span></h1>
  </header> --}}

{{#if animate}}
  <img> </img>

{{else}}
<p>no anim</p>
{{/if}}

  <div class="button-container">
    <a class="button" href="/play">Play</a>
    <a class = "button" href="/gallery">Gallery</a>

  </div>

  </div>

</div>

