{{#if hasErrors}}


<p>{{messages}}</p>
{{/if}}


<form id="login-form" action="/login/login" method="POST" >
    <label for="name">name</label>
    <input type="name" name="name" required>
    <br>
    <label for="password">password</label>

    <input type="password" name="password" required>
    <br>
    <input type="submit" value="login">
</form>

    

<form id="signup-form" action="/login/signup" method="POST" >
    <label for="name">name</label>
    <input type="name" name="name" required>
    <br>
    <label for="password">password</label>

    <input type="password" name="password" required>
    <br>
    <input type="submit" value="signup">
</form>

<script type="text/javascript" src="javascripts/login.js"></script>
    