html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2 {
  margin-top: 2rem;
  color: black;
  font-size: 2rem;

  span {
    display: block;
    text-align: center;
  }
}

.button {
  color: black;
  text-decoration: none;
  /* font-weight: 300; */
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  white-space: nowrap;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin: 1px;
  padding: 1rem;

  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }
}

.container {
  display: flex;
  align-items: center;
  // height: 100%;
  width: 100%;
  flex-direction: column;
  //   justify-content: space-around;
}

// ------------------------------ game pages

.game {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .disabled {
    opacity: 0.4;
  }

  .container {
    justify-content: space-between;

    .drawing {
      text-align: center;
      .canvas-container {
        padding: 4rem 0 1rem 0;
        display: flex;
        justify-content: center;
        width: 100%;

        canvas {
          border: 2px solid black;
          border-radius: 10px;
          z-index: 1;
        }
        #canvas2 {
          position: absolute;
          z-index: 2;
          pointer-events: none;
        }
      }
      .form-container .button {
        width: 5rem;
        height: 5rem;
      }
    }

    .text-container {
      text-align: center;
    }
  }
}

// ------------------------------ home page

.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .squig {
    height: 100px;
    width: 300px;
    stroke-width: 5px;
  }

  .animate {
    stroke-dasharray: 350;
    stroke-dashoffset: 0;
    animation: dash 3s linear;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 350;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  .container {
    // justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      max-width: 600px;

      border: 2px solid red;
      margin: 2px;
      width: 100%;
      height: 40%;
    }
    .button-container {
      // margin-top: 40vh;
      display: flex;
      flex-direction: column;
      // width: 60%;
      .button {
        margin-bottom: 2rem;
      }

      #playbutton {
        // background-image: url("../assets/svg/play.svg");
        // background-size: cover;
        // width: 100px;
        // height: 50px;
        // border: none;
      }
      #gallerybutton {
      }
    }
  }
}

// ------------------------------ gallery page

#home-link {
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
}

.gallery {
  position: relative;
  nav {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    justify-content: flex-end;
    width: 100%;
    a {
      // margin-left: auto;
    }
  }

  #to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: all 1s;
    opacity: 0;
  }

  #gallery-container {
    width: 95vw;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;

    .touch-only {
      display: none;
    }
    img {
      margin-bottom: 15px;
      border-radius: 10px;
      border: 2px solid black;
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
  }
  body > div:first-child {
    height: 100%;
    width: 80%;
    // border: 3px solid black;
    // display: flex;
    // justify-content: center;
    .container {
      min-height: 100%;
      border-left: 3px solid black;
      border-right: 3px solid black;
    }
  }
  // body div:first-child >div {
  //   width: 70%;
  //   border: 1px solid red;
  // }

  // .index,
  // .gallery,
  // .play {
  //   width: 70%;
  //   border: 1px solid red;
  // }
  .home {
    .container {
      .button-container {
        .button {
          margin: 1rem;
        }
        flex-direction: row;
      }
    }
  }
}
