html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.touch-only {
  display: none; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  width: 100%; }

h1,
h2 {
  margin-top: 2rem;
  color: black;
  font-size: 1.5rem; }
  h1 span,
  h2 span {
    display: block;
    text-align: center; }

h1 {
  margin-top: 1rem;
  font-size: 2rem; }

.button {
  color: black;
  text-decoration: none;
  /* font-weight: 300; */
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  white-space: nowrap;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  margin: 1px;
  cursor: pointer; }
  .button:focus {
    outline: none; }
  .button img {
    margin: 1rem;
    width: 30px;
    height: 30px; }

.button-text {
  display: flex;
  align-items: center;
  justify-content: center; }
  .button-text img {
    width: 100%;
    height: auto; }

.button-svg {
  display: flex;
  align-items: center;
  justify-content: center; }

button,
input {
  padding: 0.4rem;
  border: 1px solid black;
  background-color: white; }

.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column; }

.nav a {
  text-decoration: none;
  color: black;
  padding: 0.2rem;
  font-size: 1.2rem; }

.nav,
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem; }
  .nav .button,
  nav .button {
    width: 3rem;
    height: 3rem;
    border: 1.5px solid black; }
  .nav .button-svg img,
  nav .button-svg img {
    margin: 0px;
    width: 20px;
    height: 20px; }
  .nav a,
  nav a {
    border-radius: 2px;
    border: 1px solid black; }

.games-list {
  text-align: center; }
  .games-list ul,
  .games-list li {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  .games-list ul {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden; }
  .games-list li {
    display: flex;
    align-items: stretch;
    width: 100%;
    text-align: center; }
  .games-list a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    display: block;
    flex: 1 1 auto; }
    .games-list a:hover {
      cursor: pointer; }

.play {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center; }
  .play .disabled {
    opacity: 0.4; }
  .play .container {
    height: 100%;
    justify-content: space-between; }
    .play .container .nav,
    .play .container nav {
      justify-content: flex-end; }
      .play .container .nav a,
      .play .container nav a {
        border-radius: 50%; }
    .play .container .drawing {
      text-align: center; }
      .play .container .drawing .canvas-container {
        padding: 4rem 0 1rem 0;
        display: flex;
        justify-content: center;
        width: 100%; }
        .play .container .drawing .canvas-container canvas {
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          z-index: 1; }
        .play .container .drawing .canvas-container #canvas2 {
          position: absolute;
          z-index: 2;
          pointer-events: none; }
      .play .container .drawing .button-container .button {
        width: 5rem;
        height: 5rem; }
    .play .container .text-container {
      text-align: center;
      margin-bottom: 4rem; }

#report-squiggle {
  display: flex; }
  #report-squiggle #report-squiggle-btn {
    margin-left: auto;
    border: none;
    padding: 0.4rem;
    background-color: white; }

.home {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: stretch; }
  .home .container {
    overflow: hidden; }
  .home #background-mask {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-clip: padding-box;
    padding: 100px; }
  .home #background-squiggles {
    position: absolute;
    z-index: -2;
    height: 100%;
    stroke-width: 9px; }
  .home .squig {
    width: 100%;
    stroke-width: 7px; }
  .home .animate {
    stroke-dasharray: 2500;
    stroke-dashoffset: 0;
    animation: dash 3s linear; }
  .home .animate-background {
    stroke-dasharray: 600;
    stroke-dashoffset: 0;
    animation: dash-background 3s linear; }

@keyframes dash {
  0% {
    stroke-dashoffset: 2500; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash-background {
  0% {
    stroke-dashoffset: 600; }
  100% {
    stroke-dashoffset: 0; } }
  .home .container {
    height: 100%;
    display: flex; }
    .home .container .button-container {
      display: flex;
      flex-direction: column; }
      .home .container .button-container .button {
        width: 30vw;
        height: 30vw;
        margin-bottom: 2rem; }
        .home .container .button-container .button img {
          width: 100%;
          height: auto; }

.login .container {
  height: 100vh;
  justify-content: center; }
  .login .container form {
    padding: 1rem;
    margin-bottom: 3rem;
    margin-bottom: 3rem; }
    .login .container form label {
      display: block; }

.account {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: stretch; }

.gallery {
  background-color: white;
  position: relative; }
  .gallery h1 {
    text-align: center; }
    .gallery h1 img {
      width: 40%; }
  .gallery #to-top {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: all 1s;
    opacity: 0; }
  .gallery #gallery-container {
    width: 95vw;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap; }
    .gallery #gallery-container .touch-only {
      margin-bottom: 1rem; }
    .gallery #gallery-container img {
      border: 2px solid black;
      width: 100%;
      image-rendering: smooth; }
    .gallery #gallery-container .author-tag {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
      padding: 0.3rem;
      text-align: end; }
    .gallery #gallery-container form {
      display: flex;
      margin-bottom: 1.5rem; }
      .gallery #gallery-container form #report-squiggle-btn {
        color: rgba(0, 0, 0, 0.8);
        margin-left: auto;
        padding: 0.4rem;
        background-color: rgba(0, 0, 0, 0);
        border: none; }

.game ul,
.game li {
  list-style-type: none; }

.game .game-info {
  margin: 1rem; }
  .game .game-info .game-link {
    display: none; }

.game .button-container {
  width: 100%;
  display: flex;
  justify-content: center; }
  .game .button-container .button {
    width: 8rem;
    height: 8rem;
    margin: 1rem; }

.game #imgCont {
  width: 95vw;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap; }
  .game #imgCont .touch-only {
    margin-bottom: 1rem; }
  .game #imgCont img {
    border: 2px solid black;
    width: 100%;
    image-rendering: smooth; }
  .game #imgCont .author-tag {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    padding: 0.3rem;
    text-align: end; }

.admin h1 {
  font-size: 2rem; }

.admin h2 {
  font-size: 1.4rem; }

.admin #gallery-container {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.admin #squiggle-container,
.admin #allsquiggle-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .admin #squiggle-container canvas,
  .admin #allsquiggle-container canvas {
    max-width: 100vw;
    max-height: 100vw; }

@media (min-width: 600px) {
  .home .container {
    height: auto; }
    .home .container .button-container {
      flex-direction: row; }
      .home .container .button-container .button {
        width: 10rem;
        height: 10rem;
        margin: 2rem; }
  .home #background-squiggles {
    display: none; }
  .play .container .drawing .canvas-container canvas {
    border: 2px solid black; }
  #report-squiggle {
    align-self: flex-end;
    margin-right: 10%; } }

@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center; }
  body > div:first-child {
    width: 80%; }
    body > div:first-child .container {
      height: 100%;
      border-left: 3px solid black;
      border-right: 3px solid black; }
  .home .container .button-container .button {
    margin: 4rem; } }
